@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto&display=swap');

/* @font-face {
  font-family: 'isidoraRegular';
  src: url('../assets/fonts/Isidora-Regular.otf') format('otf');
}

@font-face {
  font-family: 'madina';
  src: url('../assets/fonts/Madina.otf') format('otf');
} */

body,
p,
a {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
.navbar-brand {
  font-family: 'Berkshire Swash', cursive;
}

body.font-test,
body.font-test p,
body.font-test a {
  font-family: 'isidoraRegular';
}

body.font-test h1,
body.font-test h2,
body.font-test h3,
body.font-test h4 {
  font-family: 'madina';
}

:root {
  --palm-leaf: #14210A;
  --funk-green: #226019;
  --gimblet: #C2BC7B;
  --fruit-salad: #64994A;
  --sirocco: #627E80;
  --pink: #e8bdc4;
  --rose: #8b575b;
  --t-gimblet: rgba(194, 188, 123, 0.7);
  /* Color Test */
  --grey: #e5e4dd;
  --light-green: #cdd8d2;
  --green: #a7b18c;
  --maroon: #79575a;
  --new-pink: #f3939c;
  --light-pink: #f8e2dc;
  --clay: #cba38d;
  --mustard: #c8a92a;
  --dark-blue: #3f606e;
}

section,
footer {
  padding-top: 3em;
  padding-bottom: 3em;
}

section#services {
  padding-bottom: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: var(--light-green);
}

.navbar a {
  color: var(--palm-leaf);
}

.navbar a:hover {
  color: var(--maroon);
}

a.navbar-brand {
  color: var(--maroon);
}

a.navbar-brand:hover {
  color: var(--new-pink);
}

button.navbar-toggler {
  background-color: var(--rose);
  color: white;
}

.masthead {
  background-image: url(../assets/lotus.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #d4ceae;
}

.masthead h1 {
  margin-top: 72px;
  font-size: 60px;
}

.masthead h4 {
  font-size: 35px;
}

.top-margin {
  margin-top: 72px;
}

#faqPage {
  background-color: var(--palm-leaf);
  color: rgba(250, 250, 250, 0.7);
}

#estheticsPage {
  background-color: var(--gimblet);
  color: rgba(250, 250, 250, 0.7);
}

#estheticsPage a {
  color: var(--maroon);
}

#estheticsPage a:hover {
  color: var(--palm-leaf);
}

#testimonials {
  background-color: var(--dark-blue);
  color: rgba(250, 250, 250, 0.7);
}

#testimonials img {
  border-radius: 50%;
}

#massagePage {
  background-color: var(--sirocco);
  color: rgba(250, 250, 250, 0.7);
}

#massagePage a {
  color: var(--mustard);
}

#massagePage a:hover {
  color: var(--new-pink);
}

#services {
  background-color: #d4ceae;
}

#services a {
  text-decoration: none;
}

#massage {
  background-image: url(../assets/beach-massage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
  border-radius: 13%;
}

#acutonics {
  background-image: url(../assets/fire.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
  border-radius: 13%;
}

#yoga {
  background-image: url(../assets/lotus-three.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
  border-radius: 13%;
}

#lotus {
  background-image: url(../assets/test.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
  border-radius: 13%;
}

#esthetics {
  background-image: url(../assets/oils.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
  border-radius: 13%;
}

#breath {
  background-image: url(../assets/cass-portfolio-two.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
  border-radius: 13%;
}

.service .caption {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: var(--t-gimblet);
    color: white;;
}

.service .caption:hover {
    opacity: 1;
    cursor: pointer;
}

.funky-back {
  background-image: url(../assets/moss.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 4em;
}

#about {
  background-color: var(--green);
  color: var(--maroon);
}

#about img {
  width: 25%;
}

#contact {
  background-color: #36404a;
}

#contact .btn {
  background-color: rgba(250, 250, 250, 0.7);
  color: var(--maroon);
}

#contact .btn.disabled:hover {
  background-color: white;
  color: black;
}

#contact .btn:hover {
  background-color: var(--rose);
  color: white;
}

#contact h2 {
  color: rgba(250, 250, 250, 0.7);
}

#contact input,
#contact textarea {
  background-color: rgba(250, 250, 250, 0.7);
  border: none;
  color: var(--maroon);
}

#contact label {
  color: var(--maroon);
}

#certs {
  background-color: #d4ceae;
  color: var(--maroon);
}

.block-quote {
  min-height: 420px;
}

.top-quote,
.bottom-quote {
  position: relative;
  font-size: 4rem;
}

.top-quote {
  top: 23px;
}

.block-quote .top-quote {
  left: -50%;
}

.bottom-quote {
  bottom: 23px;
}

footer {
  background-color: #7b7361;
  color: var(--maroon);
}

footer a {
  color: var(--palm-leaf);
}

footer a:hover {
  color: var(--green);
}

.btn-social {
  background-color: var(--palm-leaf);
  color: white;
}

.btn-social:hover {
  color: var(--rose);
  background-color: var(--pink);
}

@media only screen and (max-width: 992px) {
  #about img {
    width: 50%;
  }

  .service .caption {
    opacity: 1;
  }

  .block-quote {
    min-height: 0px;
  }

  .top-margin {
    margin-top: 56px;
  }
}

@media only screen and (max-width: 576px) {
  #about img {
    width: 100%;
  }

  section {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .masthead h1 {
    font-size: 40px;
  }

  .masthead h4 {
    font-size: 25px;
  }
}
